@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Playball);

body {
	background: url('images/downtown-raleigh-night.jpg') no-repeat fixed;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	width: 100% !important;
}
.col-md-12 {
	padding: 0 !important;
}
.navbar-default {
    background-color: #E9E3DB !important;
    border-color: transparent !important;
	opacity: 0.8;
}
.navbar-default li a {
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
}
.navbar-default li a:hover {
	box-shadow:inset 0px -100px 0px #428bca;
}
.contact-nav {
	margin-bottom: -1px !important
}
.site-title {
	font-family: 'Playball', cursive;
	font-size: 45px !important;
	margin-left: 30px;
}
.site-title a {
	
}
.carousel-container {
	margin-top: 80px;
	width: 100% !important;
}
.carousel-inner {
	background: rgba(0,0,0,0.60) !important;
	color: #fff;
}
.carousel-control.left, .carousel-control.right {
	background: transparent !important;
}
.left-header {
	font-family: 'Shadows Into Light', cursive !important;
}
.right-header {
	color: #F67374 !important;
	border-bottom: 1px dotted #777;
	padding-top: 20px;
}
.item-container {
	text-align: center;
}
.summary, .proficiencies, .experience, .education {
	padding-left: 100px;
	padding-right: 100px;
	color: #fff;
}
.summary p, .experience .jobs {
	padding: 10px;
}
.summary p, .proficiencies table tr td, .experience .jobs, .education table {
	background: rgba(0,0,0,0.60) !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}
.jobs {
	margin-top: 25px;
}