@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
	font-family: 'Oxygen', sans-serif !important;
}
.company-name h4, .company-symbol h4 {
	font-family: 'Oxygen', sans-serif !important;
	font-weight: bold;
}
.company-name h4 {
	padding-left: 10px;
}
.company-logo img, .webcast-audio, .footer-image {
	margin: 10px;
}
.title-row, .audio-row, .company-row, .footer-row, .title-col, .audio-col, .company-col, .footer-col {
	width: 480px !important;
}
.console-panel {
	width: 440px !important;
	border: 1px solid #1c1c1c !important;
	border-radius: 2px !important;
		-webkit-radius: 2px !important;
		-moz-radius: 2px !important;
	box-shadow: 0px 2px 5px 0px #999;
	margin-left: 10px !important;
	font-family: 'Oxygen', sans-serif !important;
}
.console-heading {
	font-family: 'Oxygen', sans-serif !important;
	background: #004680 !important;
	color: #fff !important;
	border-radius: 0px !important;
		-webkit-radius: 0px !important;
		-moz-radius: 0px !important;
}
.panel-title {
	line-height: 25px;
	letter-spacing: 0.02em;
	font-family: 'Oxygen', sans-serif !important;
}
.selection-list {
	font-family: 'Oxygen', sans-serif !important;
	list-style-type: none;
	margin-left: -40px;
}
.selection-list li {
	margin-bottom: 10px;
}
.selection-list img {
	margin-right: 10px;
}
a:hover {
	text-decoration: none !important;
}
.pull-right {
	font-size: 14px;
}
.separation {
	border-top: 1px solid #1c1c1c;
}
.slide-col {
	float: right !important;
	margin-right: -715px;
	margin-bottom: -635px;
	margin-top: 145px;
}
.slide-panel {
	border: 1px solid #1c1c1c !important;
	border-radius: 2px !important;
		-webkit-radius: 2px !important;
		-moz-radius: 2px !important;
	box-shadow: 0px 2px 5px 0px #999;
	font-family: 'Oxygen', sans-serif !important;
}
.form-control {
	width: 330px !important;
	margin-left: 15px !important;
}
.alerts-form {
	margin-top: 10px;
}
li.alerts {
	width: 408px !important;
}
#disclaimer {
	font-family: 'Oxygen', sans-serif !important;
	margin-right: 5px;
}
.col-wide {
	font-family: 'Oxygen', sans-serif !important;
	margin-top: 10px;
}
.stock-down {
	font-family: 'Oxygen', sans-serif !important;
	background: url('share-sprite.png') no-repeat -388px 25px;
	width: 42px;
	height: 42px;
	font-family: 'Merriweather Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	margin-left: 5px;
	color: #888;
}
#price {
	font-family: 'Oxygen', sans-serif !important;
	text-align: right;
	font-size: 14px;
	font-style: italic;
}
#delta {
	font-family: 'Oxygen', sans-serif !important;
	text-align: right;
	font-size: 14px;
	color: #45C075;
}
.social-icons h4 {
	font-family: 'Oxygen', sans-serif !important;
}
.social-icons {
	margin-top: 10px;
	margin-left: 10px;
	height: 50px;
	width: 230px;
	font-size: 0.75em;
}
.socially {
	margin: 1px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.socially:hover {
	opacity: 0.8;
}
.glyphicon {
	margin-right: 10px !important;
}

.slides {
	float: right;
}